/* this is for cross-browser compatibility, some browsers add default margin, padding */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* the perfect root size 10 divided by 16, it will be used to define what 1rem is*/
  font-size: 62.5%;
}

/* making use of inheritance */
body {
  box-sizing: border-box;
}
